<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Relatório de convênio</title>
</head>

<body>
    <div class="col-sm-12 col-sm-12" style="margin-top: 25px">
        <h1 style="text-align:center; font-size: 45px">Relatório de convênio</h1>
    </div>
    <hr class="col-sm-12">
    <div class="container" style="text-align: center; font-size: 25px">
        <div class="box box-default">
            <div class="box-header">

            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <strong>Convênio: </strong> {{convenio.NOME_CONVENIO}}
                    </div>
                    <div class="col">
                        <strong>Categoria: </strong> {{convenio.TIPO_CONVENIO}}
                    </div>
                </div>
                <br />
                <br />
                {{#each enderecos}}
                {{#if ENDERECO.ENDERECO}}
                <div class="row">
                    <div class="col">
                        <strong>Endereço: </strong> {{ENDERECO.ENDERECO}}
                    </div>
                    <div class="col">
                        <strong>Nº: </strong> {{ENDERECO.NUMERO}}
                    </div>
                    <div class="col">
                        <strong>Bairro: </strong> {{ENDERECO.BAIRRO}}
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    {{#if ENDERECO.COMPLEMENTO}}
                    <div class="col">
                        <strong>Complemento: </strong> {{ENDERECO.COMPLEMENTO}}
                    </div>
                    {{/if}}
                    <div class="col">
                        <strong>Cidade: </strong> {{ENDERECO.CIDADE}}
                    </div>
                    <div class="col">
                        <strong>Estado: </strong> {{ENDERECO.ESTADO}}
                    </div>
                    {{#if ENDERECO.REFERENCIA}}
                    <div class="col">
                        <strong>Referência: </strong> {{ENDERECO.REFERENCIA}}
                    </div>
                    {{/if}}
                </div>
                {{/if}}
                {{/each}}
                <br />
                <br />
                {{#each telefones}}
                {{#if TELEFONE.NUMERO}}
                <div class="row">
                    <div class="col">
                        <strong>Telefone: </strong> ({{TELEFONE.DDD}}) {{TELEFONE.NUMERO}}
                    </div>
                </div>
                {{/if}}
                {{/each}}
                <br />
                <br />
            </div>
        </div>
    </div>
</body>