<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Relatório de Funcionários</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1 class="display-4" style="margin-top: 10px; margin-bottom: 6px; font-size: 46; text-align: center">Relatório de funcionários</h1>
    <table class="table table-striped">
        <thead>
            <tr class="table-success">
                <th scope="col">Nome</th>
                <th scope="col">RG</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Cargo</th>
                <th scope="col">Data de Admissão</th>
            </tr>
        </thead>
        <tbody>
            {{#each funcionarios}}
            <tr>
                <td>{{NOME}} {{SOBRENOME}}</td>
                <td>{{RG}}</td>
                <td>{{CPF}}</td>
                <td>{{DATA_NASCIMENTO}}</td>
                <td>{{CARGO}}</td>
                <td>{{DATA_ADMISSAO}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>